.app-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode-switch {
  width: 150px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
