.app-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-slider {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.toolbar-toggle-barriers {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.toolbar-button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.1s ease-out;
}

.refresh-algorithm:active {
  transform: scale(0.9);
}

.light-switch {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease-out;
}

.light-switch:active {
  transform: scale(0.9);
}
